# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS/XCode related
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# Exceptions to above rules.
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3

# macOS
**/Flutter/ephemeral/
**/Pods/
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Flutter/ephemeral
**/xcuserdata/

# Windows
**/windows/flutter/generated_plugin_registrant.cc
**/windows/flutter/generated_plugin_registrant.h

# Linux
**/linux/flutter/generated_plugin_registrant.cc
**/linux/flutter/generated_plugin_registrant.h


**/*.r.dart
**/*.m.dart
**/pubspec.lock
**/.flutter-plugins-dependencies
ox_chat/example/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
ox_chat/example/android/local.properties
ox_chat/example/ios/Flutter/flutter_export_environment.sh
ox_chat/example/ios/Flutter/Generated.xcconfig
ox_chat/example/ios/Runner/GeneratedPluginRegistrant.h
ox_chat/example/ios/Runner/GeneratedPluginRegistrant.m
ox_chat/example/linux/flutter/generated_plugin_registrant.cc
ox_chat/example/linux/flutter/generated_plugin_registrant.h
ox_chat/example/macos/Flutter/ephemeral/Flutter-Generated.xcconfig
ox_chat/example/macos/Flutter/ephemeral/flutter_export_environment.sh
ox_chat/example/macos/Flutter/GeneratedPluginRegistrant.swift
ox_chat/example/pubspec.lock
ox_chat/example/windows/flutter/generated_plugin_registrant.cc
ox_chat/example/windows/flutter/generated_plugin_registrant.h
ox_chat/pubspec.lock
ox_discovery/example/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
ox_discovery/example/android/local.properties
ox_discovery/example/ios/Flutter/flutter_export_environment.sh
ox_discovery/example/ios/Flutter/Generated.xcconfig
ox_discovery/example/ios/Runner/GeneratedPluginRegistrant.h
ox_discovery/example/ios/Runner/GeneratedPluginRegistrant.m
ox_discovery/example/pubspec.lock
ox_discovery/pubspec.lock
ox_login/example/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
ox_login/example/android/local.properties
ox_login/example/ios/Flutter/flutter_export_environment.sh
ox_login/example/ios/Flutter/Generated.xcconfig
ox_login/example/ios/Runner/GeneratedPluginRegistrant.h
ox_login/example/ios/Runner/GeneratedPluginRegistrant.m
ox_login/example/pubspec.lock
ox_login/pubspec.lock
ox_usercenter/example/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
ox_usercenter/example/android/local.properties
ox_usercenter/example/ios/Flutter/flutter_export_environment.sh
ox_usercenter/example/ios/Flutter/Generated.xcconfig
ox_usercenter/example/ios/Runner/GeneratedPluginRegistrant.h
ox_usercenter/example/ios/Runner/GeneratedPluginRegistrant.m
ox_usercenter/example/pubspec.lock
ox_usercenter/pubspec.lock
Podfile
