[submodule "packages/0xchat-core"]
	path = packages/0xchat-core
	url = ../0xchat-core.git
[submodule "packages/nostr-dart"]
	path = packages/nostr-dart
	url = ../nostr-dart.git
[submodule "packages/cashu-dart"]
	path = packages/cashu-dart
	url = ../cashu-dart.git
[submodule "packages/nostr-mls-package"]
	path = packages/nostr-mls-package
	url = ../nostr-mls-package.git
