[submodule "packages/base_framework"]
	path = packages/base_framework
	url = https://github.com/0xchat-app//0xchat-app-base.git
[submodule "packages/business_modules"]
	path = packages/business_modules
	url = https://github.com/0xchat-app/0xchat-app-business.git
[submodule "packages/0xchat-core"]
	path = packages/0xchat-core
	url = https://github.com/0xchat-app//0xchat-core.git
[submodule "packages/nostr-dart"]
	path = packages/nostr-dart
	url = https://github.com/0xchat-app//nostr-dart.git
[submodule "packages/cashu-dart"]
	path = packages/cashu-dart
	url = https://github.com/0xchat-app/cashu-dart.git
[submodule "packages/nostr-mls-package"]
	path = packages/nostr-mls-package
	url = https://github.com/0xchat-app/nostr-mls-package.git
