<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oxchat.nostr">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
<!--    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name = "android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="com.android.vending.BILLING"  />
    <!-- Android 14-->
    <uses-permission android:name = "android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />


    <application
        android:label="ox_global"
        android:icon="@mipmap/ox_logo_launcher"
        android:usesCleartextTraffic="true">
        <meta-data android:name="io.flutter.network-policy"
            android:resource="@xml/network_security_config"/>
    </application>
</manifest>
